# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# Vue files
[*.vue]
indent_size = 2

# TypeScript files
[*.ts]
indent_size = 2

# JavaScript files
[*.js]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.yml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_size = 2
